name: Deploy Api Docker Image to ECR

on:
  workflow_dispatch:

jobs:

  build-and-push:

    runs-on: ubuntu-latest

    steps:
    - name: Ckeckout repository
      uses: actions/checkout@v4

    - name: Log to amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ secrets.AWS_REGION }} 
    
    - name: Build the Docker image
      run: |
        docker build . \
          --file ./ApiAppClusterProject/Dockerfile \
          --tag ${{ steps.login-ecr.outputs.registry }}/clusterproject/cluster-project-registry:api
          
    - name: Push to amazon ECR
      run: docker push ${{ steps.login-ecr.outputs.registry }}/clusterproject/cluster-project-registry:api

  
